<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAhGFS_FpeKyN2ylhbJMmRMBdJ0nOWsqv0</string>
	<key>GCM_SENDER_ID</key>
	<string>547190022920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>i.emretoker.MyBaikaApp</string>
	<key>PROJECT_ID</key>
	<string>baikaapp</string>
	<key>STORAGE_BUCKET</key>
	<string>baikaapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547190022920:ios:ecf81d24b12e67ca2c42bd</string>
</dict>
</plist>